<% if current_user %>
  <% if @post.favorited_by?(current_user) %>
    <%= link_to post_post_favorites_path(@post), method: :delete, remote: true, class: 'heart-link' do %>
      <div class="heart-icon">
        <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
        <span class="heart-count"><%= @post.post_favorites.count %></span>
      </div>
    <% end %>
  <% else %>
    <%= link_to post_post_favorites_path(@post), method: :post, remote: true, class: 'heart-link' do %>
      <div class="heart-icon">
        <i class="fas fa-heart" aria-hidden="true"></i>
        <span class="heart-count"><%= @post.post_favorites.count %></span>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= link_to post_post_favorites_path(@post), method: :post, remote: true, class: 'heart-link', id: 'favorite-link' do %>
    <div class="heart-icon">
      <i class="fas fa-heart" aria-hidden="true"></i>
    </div>
    <span class="heart-count"><%= @post.post_favorites.count %></span>
  <% end %>
  <div class="login-required-message">
    <p>いいねするには会員登録が必要です</p>
  </div>
<% end %>
