<ul class="list-group list-unstyled mt-5">
  <% posts.each do |post| %>
    <% if post.published? %>
      <% video_id = extract_youtube_video_id(post.link) %>
      <% next unless video_id.present? %>
      <li class="post-card-detail d-flex m-2">
        <!-- 左側のサムネイル -->
        <div class="post-detail-thumbnail">
          <%= link_to post_path(post) do %>
            <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width: 200px; height: auto;', show_info: false) %>
          <% end %>
        </div>
        <div class="post-details flex-grow-1 ml-3">
          <div class="post-title">
            <%= link_to post_path(post), 'data-turbolinks': false do %>
              <%= truncate(post.title, length: 15) %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <!-- 左寄せの要素（日付とタグ） -->
            <div class="left-details">
              <ul class="post-card-status list-unstyled d-flex">
                <li class="post-cart-date text-muted small">
                  <i class="fas fa-calendar-alt"></i>
                  <time class="post-card-date text-muted small"><%= formatted_datetime(post.created_at) %></time>
                </li>
                <li class="tag-buttons ml-3">
                  <% post.tag_list.first(2).each do |tag| %>
                    <span class="tag-btn"><%= link_to tag, tag_path(tag) %></span>
                  <% end %>
                </li>
              </ul>
            </div>
            <!-- 右寄せの要素（アイコン） -->
            <div class="right-details text-right">
              <ul class="post-card-nstatus list-unstyled d-flex">
                <% unless request.fullpath.include?("drafts") %>
                  <li class="post-card-views text-muted small mr-1">
                    <i class="fas fa-eye"></i>
                    <%= post.impressions_count %>
                  </li>
                  <li class="post-card-likes text-muted small mr-1">
                    <i class="fa fa-heart"></i>
                    <span><%= post.post_favorites.count %></span>
                  </li>
                  <li class="post-card-comments text-muted small">
                    <i class="fas fa-comment"></i>
                    <span><%= post.comments.count %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="post-body-summary">
            <%= truncate(post.body.body.to_plain_text, length: 100) %>
          </div>
          <div class="read-more-btn-container text-right mt-2 mb-4">
            <%= link_to 'READ MORE', post_path(post), class: 'read-more-btn' %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
