<article class="post-card card border-0">
  <div class="post-card__author">
    <%= image_tag post.user.icon, size: "30x30", class: "post-card__avatar" %>
    <%= link_to post.user.nickname, user_path(post.user.account), class: 'post-card__username' %>
    <%= link_to post.title, edit_post_path(post.id), class: 'post-card__username' %>
  </div>
  <ul class="post-card__stats">
    <li>
      <time class="post-card__date" datetime="2023-03-19"><%= post.created_at %></time>
    </li>
    <% unless request.fullpath.include? "drafts" %>
      <li id="comments-count"  class="post-card__comments" <%= "data-toggle=tooltip" unless user_signed_in? || admin_signed_in? %>  data-placement="bottom" title="コメントをするには、ログインしてください。">
        <%= render partial: 'public/comments/comments_count', locals: { post: post } %>
      </li>
      <li id="favorites-<%= post.id %>" class="post-card__likes" <%= "data-toggle=tooltip" unless user_signed_in? || admin_signed_in? %> data-placement="bottom" title="いいねをするには、ログインしてください。">
        <%= render partial: 'public/post_favorites/post_favorite', locals: { post: post } %>
      </li>
      <li>
        <i class="fas fa-eye"></i>
         <%= post.impressionist_count %> Views
      </li>
    <% end %>
  </ul>
</article>
