<ul class="list-group list-unstyled mt-3">
  <div class="d-flex flex-wrap">
    <% posts.each do |post| %>
    <% if post.published? %>
      <% video_id = extract_youtube_video_id(post.link) %>
      <% next unless video_id.present? %>
      <li class="post-card m-2">
        <div class="post-thumbnail">
          <%= link_to post_path(post) do %>
            <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width: 200px; height: auto;', show_info: false) %>
          <% end %>
        </div>
        <div class="post-title text-center">
          <%= truncate(post.title, length: 15) %>
        </div>
        <ul class="post-card-status d-flex justify-content-around list-unstyled">
          <li class="post-cart-date text-muted small">
            <time class="post-card-date text-muted small"><%= formatted_datetime(post.created_at) %></time>
          </li>
          <% unless request.fullpath.include?("drafts") %>
            <li class="post-cart-views text-muted small">
              <i class="fas fa-eye"></i>
              <%= post.impressions_count %>
            </li>
            <li class="post-card-likes text-muted small">
              <i class="fa fa-heart"></i> <%= post.post_favorites.count %>
            </li>
            <li class="post-card-comments text-muted small">
              <i class="fas fa-comment"></i> <%= post.comments.count %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% end %>
  </div>
</ul>
