<div class="form-group form-group__link">
  <label for="post_link">
    Link
  </label>
  <%= f.text_field :link, required: true, class: 'form-control post_link' %>
</div>

<div class="form-group form-group__hash">
  <%= f.label :tag_list, "Tags" %>
  <%= f.text_field :tag_list, value: @post.tag_list.join(', '), class: "form-control" %>
</div>

<div class="form-group form-group__title">
  <label for="post_title">
    Title
  </label>
  <%= f.text_field :title, required: true, class: 'form-control post_title' %>
</div>

<div class="form-group form-group__body">
  <label for="post_body">
    Body
  </label>
  <%= f.text_area :body, required: true, rows: 25, cols: 10, class: "form-control " %>
</div>

<div class="form-group form-group__button-wrapper">
 <% if @post.is_draft || post.new_record? || !@post.is_draft? %>
    <%= f.submit '投稿する', name: 'commit', class: "btn form-group__submit" %>
  <% if @post.is_draft || post.new_record? %>
     <%= f.submit '下書き保存', name: 'commit', class: "btn form-group__draft" %>
<% end %>
  <% else %>
    <%= f.submit '投稿する', name: 'commit', class: "btn form-group__submit" %>
<% end %>
</div>
