<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="back-button">
    <%= link_to dashboard_posts_path do %>
      <i class="fas fa-arrow-left fa-lg"></i>
    <% end %>
  </div>
  <button id="preview-button" type="button" class="preview-btn ml-3">Preview</button>
    <div id="link-message" class="link-message">リンクを入れてください。</div>
  <div class="form-group_button-wrapper d-flex align-items-center ml-auto">
    <div class="toggle_switch mr-3">
      <input type="checkbox" id="postTypeToggle" class="toggle_input">
      <label for="postTypeToggle" class="toggle_label"></label>
    </div>
    <div class="btn-group" role="group" id="buttonGroup">
      <% if @post.persisted? %>
        <% if @post.draft? %>
          <%= f.submit '下書き保存', id: 'draftButton', name: 'draft', class: "draft-btn" %>
          <%= f.submit '公開する', id: 'publishButton', name: 'published', class: "submit-btn" %>
        <% elsif @post.unpublished? %>
          <%= f.submit '更新する', id: 'updateButton', name: 'unpublished', class: "draft-btn" %>
          <%= f.submit '公開する', id: 'publishButton', name: 'published', class: "submit-btn" %>
        <% else %>
          <%= f.submit '非公開にする', id: 'unpublishButton', name: 'unpublished', class: "unpublish-btn" %>
          <%= f.submit '公開する', id: 'publishButton', name: 'published', class: "submit-btn" %>
        <% end %>
      <% else %>
          <%= f.submit '下書き保存', id: 'draftButton', name: 'draft', class: "draft-btn" %>
          <%= f.submit '公開する', id: 'postButton', name: 'post', class: "submit-btn" %>
      <% end %>
    </div>
  </div>
</div>


<div class="form-group form-group_link mt-4">
  <%= f.label :link, "YouTube Link", class: "form-label" %>
  <%= f.text_field :link, required: true, class: 'form-control post_link' %>
</div>

<div class="form-group form-group_tags">
  <%= f.label :tag_list, "Tags", class: "form-label" %>
  <%= f.text_field :tag_list, class: "form-control", data: { role: "tagsinput" } %>
</div>

<div class="form-group form-group_title">
  <%= f.label :title, "Title", class: "form-label" %>
  <%= f.text_field :title, required: true, class: 'form-control post_title' %>
</div>

<div class="form-group form-group_body">
  <%= f.label :body, "Content", class: "form-label" %>
  <%= f.rich_text_area :body, required: true %>
</div>

<!-- プレビューのモーダルウィンドウ -->
<div id="preview-modal" class="modal">
  <div class="modal-content"></div>
  <button id="close-preview-modal" class="close-button">×</button>
</div>

<script>
  $(document).ready(function() {
    $('#preview-button').click(function() {
      var formData = {
        link: $('#post_link').val(),
        tag_list: $('#post_tag_list').val(),
        title: $('#post_title').val(),
        body: $('#post_body').val()
      };

      $.ajax({
        url: '<%= preview_posts_path %>',
        type: 'POST',
        data: { post: formData },
        success: function(response) {
          $('#preview-modal .modal-content').html(response);
          $('#preview-modal').addClass('fade-in').show();
        }
      });
    });

    $('#preview-modal').on('click', function(event) {
      if (event.target === this) {
        closePreviewModal();
      }
    });

    $('#close-preview-modal').on('click', function(event) {
      event.preventDefault();
      event.stopPropagation();
      closePreviewModal();
    });

    function closePreviewModal() {
      $('#preview-modal').addClass('fade-out');
      setTimeout(() => {
        $('#preview-modal').hide().removeClass('fade-out');
      }, 300); // アニメーションの時間に合わせて調整
    }

    var unpublishButton = $('<%= f.submit "非公開にする", id: "unpublishButton", name: "unpublished", class: "unpublish-btn" %>');
    var publishButton = $('<%= f.submit "公開する", id: "publishButton", name: "published", class: "submit-btn" %>');
    var updateButton = $('<%= f.submit "更新する", id: "updateButton", name: "unpublished", class: "unpublish-btn" %>');
    var draftButton = $('<%= f.submit "下書き保存", id: "draftButton", name: "draft", class: "draft-btn" %>');
    var postButton = $('<%= f.submit "公開する", id: "postButton", name: "post", class: "submit-btn" %>');

    $('#buttonGroup').append(draftButton);
    $('#buttonGroup').append(postButton);

    $('#postTypeToggle').change(function() {
      var isChecked = $(this).is(':checked');
      var buttonGroup = $('#buttonGroup');

      buttonGroup.empty();

      <% if @post.persisted? %>
        <% if @post.draft? %>
          if (isChecked) {
            buttonGroup.append(publishButton);
          } else {
            buttonGroup.append(draftButton);
          }
        <% elsif @post.unpublished? %>
          if (isChecked) {
            buttonGroup.append(publishButton);
          } else {
            buttonGroup.append(unpublishButton);
          }
        <% else %>
          if (isChecked) {
            buttonGroup.append(publishButton);
          } else {
            buttonGroup.append(unpublishButton);
          }
        <% end %>
      <% else %>
        if (isChecked) {
          buttonGroup.append(postButton);
        } else {
          buttonGroup.append(draftButton);
        }
      <% end %>
    });

    $('#postTypeToggle').change();
  });
</script>
