<div class="youtube-container-fluid">
  <div class="row">
    <div class="col-md-12 justify-content-center">
      <% video_id = extract_youtube_video_id(@preview_post.link) %>
      <% if video_id.present? %>
        <div class="show-thumbnail-container">
          <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width: 65%; height: auto;') %>
          <div class="preview-tag">Preview</div>
        </div>
      <% else %>
        <p>表示ができません</p>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <article class="post">
        <div class="tags">
          <% if preview_tags.present? %>
            <div class="d-flex flex-wrap">
              <% preview_tags.each do |tag| %>
                <span class="badge badge-info mr-2 mb-2">
                  <%= "#{tag}" %>
                </span>
              <% end %>
            </div>
          <% else %>
            <p>登録されているタグはありません</p>
          <% end %>
        </div>

        <div class="show-post-title-container d-flex justify-content-between">
          <h3 class="show-post-title"><%= @preview_post.title %></h3>
        </div>

        <div class="post-meta">
          <div class="user-info d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <%= user_icon_or_youtube(@preview_post.user, size: '20x20', class: 'rounded-circle ml-3') %>
              <p class="user-nickname ml-1"><%= @preview_post.user.nickname %></p>
            </div>
          </div>
        </div>

        <div class="post-body" id="dynamicSize">
          <%= @preview_post.body %>
        </div>
      </article>
    </div>
  </div>
</div>
