<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="chart-title-container">
        <h4 class="chart-title">1ヶ月間のブログ合計閲覧数</h4>
      </div>
      <canvas id="impressionsChart" style="width: 100%; height: 400px;"></canvas>



      <div class="analytics-post-list mt-4">
        <div class="analytics-total-count-container d-flex">
          <h5 class="analytics-total-count mx-auto my-auto">合計表示回数：<%= @total_impressions_count %> <small>回</small></h5>
                <div class="sort-links mx-auto my-auto">
        <%= link_to "最新順", analytics_posts_path(sort: 'latest'), class: params[:sort].blank? || params[:sort] == 'latest' ? 'active' : '' %>
        <%= link_to "閲覧数順", analytics_posts_path(sort: 'popular'), class: params[:sort] == 'popular' ? 'active' : '' %>
      </div>
        </div>

        <% @posts.each do |post| %>
          <div class="analytics-post-item">
            <div class="row">
              <div class="col-md-8">
                <div class="analytics-post-title">
                  <%= link_to post.title, post_path(post) %>
                </div>
                <div class="analytics-post-created-at">
                  <%= post.created_at.strftime("%Y/%m/%d") %>公開
                </div>
              </div>
              <div class="col-md-4 text-right">
                <div class="analytics-impressions-count">
                  <%= post.impressions_count %>回
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>



<script>
document.addEventListener("turbolinks:load", function() {
  var ctx = document.getElementById("impressionsChart").getContext("2d");
  var chartData = <%= @daily_impressions_data.to_json.html_safe %>;

  var labels = Object.keys(chartData);
  var data = Object.values(chartData);

  var impressionsChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        label: 'ブログ総閲覧数/day',
        data: data,
        borderColor: 'blue',
        backgroundColor: 'rgba(0, 0, 255, 0.1)',
        fill: true
      }]
    },
    options: {
      responsive: false,
      maintainAspectRatio: false
    }
  });
});

</script>
