<div class="youtube-container-fluid">
  <div class="row">
    <!-- youtubeカラム-->
    <div class="col-md-12 justify-content-center">
      <% video_id = extract_youtube_video_id(@post.link) %>

      <% if video_id.present? %>
        <%= link_to @post.link, target: "_blank", class: "youtube-info" do %>
          <div class="show-thumbnail-container">
            <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width:65%; height: auto;') %>
          </div>
        <% end %>
      <% else %>
        <p>表示ができません</p>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- いいね&twitter -->
    <div class="col-md-1">
      <div class="col-md-2 mt-5 d-flex flex-column align-items-center justify-content-center fixed-content">
        <div id="post_favorite_btn_<%= @post.id %>" class="post-favorite-btn" <%= "data-toggle=tooltip" unless user_signed_in? || admin_signed_in? %> data-placement="bottom" title="<%= 'いいねをするには、ログインしてください。' unless user_signed_in? || admin_signed_in? %>">
          <%= render "public/post_favorites/btn", post: @post %>
        </div>
        <div class="twitter" <%= "data-toggle=tooltip" unless user_signed_in? %> data-placement="bottom" title="サービス利用停止中です。">
          <%#<%= link_to share_on_twitter_post_path(@post), method: :post do %>
            <i class="fab fa-twitter" style="color: #00acee; font-size: 25px;"></i>
          <%#<% end %>
        </div>
        <% if user_signed_in? %>
          <% if @post.user_id == current_user.id %>
            <div class="post-edit-container">
              <div class="post-edit-icon mt-4">
                <%= link_to edit_post_path(@post), data: { turbolinks: false } do %>
                  <i class="far fa-edit fa-lg" data-toggle=tooltip data-placement="bottom" title="Edit"></i>
                <% end %>
              </div>
              <div class="post-delete-icon mt-4">
                <%= link_to post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                  <i class="fas fa-trash-alt fa-lg" data-toggle=tooltip data-placement="bottom" title="Delete"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- body -->
    <div class="col-md-7">
      <article class="post">
        <article class="tags">
          <% if @tags.present? %>
            <div class="d-flex flex-wrap">
              <% @tags.each do |tag| %>
                <span class="badge badge-info mr-2 mb-2">
                  <%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "text-white" %>
                </span>
              <% end %>
            </div>
          <% else %>
            <p>登録されているタグはありません</p>
          <% end %>
        </article>

        <article class="show-post-title-container d-flex justify-content-between">
          <h3 class="show-post-title"><%= @post.title %></h3>
          <div class="post-detail-container d-flex align-items-center">
            <div class="post-views">
              <i class="fas fa-eye"></i>
              <%= @post.impressions_count %>
            </div>
            <div id="favorites_<%= @post.id %>" class="post-card-likes mx-2" <%= "data-toggle=tooltip" unless user_signed_in? || admin_signed_in? %> data-placement="bottom" title="いいねをするには、ログインが必要です。">
              <%= render partial: 'public/post_favorites/post_favorite', locals: { post: @post } %>
            </div>
            <div id="comments-count" class="post-card__comments" <%= "data-toggle=tooltip" unless user_signed_in? || admin_signed_in? %>  data-placement="bottom" title="コメントをするには、ログインが必要です。">
              <%= render partial: 'public/comments/comments_count', locals: { post: @post } %>
            </div>
          </div>
        </article>

        <div class="post-meta">
          <%= link_to user_path(@post.user.account), class: 'user-link', 'data-turbolinks': false do %>
            <div class="user-info d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <%= user_icon_or_youtube(@post.user, size: '20x20', class: 'rounded-circle ml-3') %>
                <p class="user-nickname ml-1"><%= @post.user.nickname %></p>
              </div>
            <% end %>
            <p class="date">Published: <%= formatted_datetime(@post.created_at) %></p>
          </div>
        </div>

        <article class="post-body" id="dynamicSize">
          <%= @post.body %>
        </article>
      </article>

      <div class="comment-container">
        <% if @comments.present? %>
          <div class="comment-section mt-5" id="comment-card-list">
            <%= render partial: 'public/comments/comment_card_list', locals: { post: @post, comments: @comments} %>
          </div>
        <% else %>
          <div class="comment-section mt-5" id="comment-card-list">
            No comments yet.
          </div>
        <% end %>

        <div class="comment-form mt-2">
          <% if user_signed_in? %>
            <%= form_with model: @comment, url: post_comments_path(@post, @comment), local: false, class: 'post-detail__comment-form' do |f| %>
              <%= f.text_area :comment, rows: '3', required: true, class:'form-control', id:"comment-form", placeholder: "コメントはここに" %>
              <%= f.submit "送信", class: 'btn comment-submit', data: { disable_with: "処理中..." } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- プロフィール -->
    <div class="col-md-4 mt-5">
      <h5 class="show-headline">Creator Profile</h5>
      <div class="post-card-container">
        <%= render partial: 'public/shared/post_card', locals: { post: @post,comment: @comment, isDetail: true } %>
      </div>
      <h5 class="show-headline mt-5">最新の記事</h5>
      <div class="latest-post-container d-flex flex-wrap">
        <% @latest_posts.each do |post| %>
          <%= render "side.post", post: post %>
        <% end %>
      </div>
    </div>
  </div>
</div>
