<div class="container">
  <div class="row">
    <!-- youtubeカラム-->
    <div class="col-md-12 justify-content-center">
      <% video_id = extract_youtube_video_id(@post.link) %>
      
      <% if video_id.present? %>
        <%= link_to @post.link, target: "_blank", class: "youtube-info" do %>
          <div class="show-thumbnail-container">
            <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width:70%; height: auto;') %>
          </div>
        <% end %>
      <% else %>
        <p>表示ができません</p>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <!-- いいね&twitter -->
    <div class="col-md-1">
       <div class="col-md-2 mt-5 d-flex flex-column align-items-center justify-content-center fixed-content">
         <div id="post_favorite_btn_<%= @post.id %>">
          <%= render "public/post_favorites/btn", post: @post %>
     　   </div>
         <div class="twitter mr-2">
            <%= link_to share_on_twitter_post_path(@post), method: :post do %>
              <i class="fab fa-twitter" style="color: #00acee; font-size: 30px;"></i>
            <% end %>
          </div>
         </div>
      </div>
  
    
    <div class="col-md-7">
      <article class="post">
        <article class="tags">
          <% if @tags.present? %>
          <div class="d-flex flex-wrap">
              <% @tags.each do |tag| %>
                <span class="badge badge-info mr-2 mb-2">
                  <%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "text-white" %>
                </span>
              <% end %>
            </div>
          <% else %>
            <p>登録されているタグはありません</p>
          <% end %>
        </article>
        
        <article class="show-post-title-container">
          <h3 class="show-post-title"><%= @post.title %></h3>
        </article>
        
        <div class="post-meta">
          <%= link_to user_path(@post.user.account), class: 'user-link' do %>
          <div class="user-info d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <%= user_icon_or_youtube(@post.user, size: '20x20', class: 'rounded-circle ml-3') %>
              <p class="user-nickname ml-1"><%= @post.user.nickname %></p>
            </div>
            <% end %>
            <p class="date">Published: <%= formatted_datetime(@post.created_at) %></p>
          </div>
          
        </div>

        <article class="post-body" id="dynamicSize">
          <%= @post.content %>
        </article>
      </article>
      
      <div classs="comment-container">
   
   
    <% if @comments.present? %>
  <div class="comment-section mt-5" id="comment-card-list">
    <%= render partial: 'public/comments/comment_card_list', locals: { post: @post, comments: @comments} %>
  </div>
<% else %>
  <div class="comment-section mt-5" id="comment-card-list">
    No comments yet.
  </div>
<% end %>

      
      <div class="comment-form mt-2">
        <% if user_signed_in? %>
          <%= form_with model: @comment, url: post_comments_path(@post, @comment), local: false, class: 'post-detail__comment-form' do |f| %>
            <%= f.text_area :comment, rows: '3', required: true, class:'form-control', id:"comment-form", placeholder: "コメントはここに" %>
            <%= f.submit "送信", class: 'btn comment-submit' %>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>

    
    <!-- プロフィール -->
    <div class="col-md-4 mt-5">
      <%= render partial: 'public/shared/post_card', locals: { post: @post,comment: @comment, isDetail: true } %>
    <div class="post-detail row hidden-md-up mx-auto">
      <% if user_signed_in? %>
        <% if @post.user_id == current_user.id %>
          <div class="post-detail__author-buttons">
            <%= link_to post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn post-detail__comment-delete' do %>
              <i class="fas fa-trash-alt" data-toggle=tooltip data-placement="bottom" title="Delete"></i>
            <% end %>
            <%= link_to edit_post_path(@post), class: 'btn post-detail__comment-edit' do %>
              <i class="far fa-edit" data-toggle=tooltip data-placement="bottom" title="Edit"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
    
    <div class="latest-post-container">
     <h4 class="headline mt-5 ml-5">最新の記事</h4>
        <ul class="ranking-list mt-3">
          <% @latest_posts.each do |post| %>
            <li class="ranking-user">
              <%= link_to user_path(post.user.account), class: 'user-link' do %>
                <div class="user-info-ranking d-flex align-items-center">
                  <%= user_icon_or_youtube(post.user, size: '100x100', class: 'rounded-circle user-icon') %>
                  <div class="user-details ml-3">
                    <p class="ranking-user-nickname"><%= post.user.nickname %></p>
                    <p class="user-introduction"><%= post.user.introduction %></p>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>

  　</div>
    
    <div class="col-md"></div>
    
  </div>
</div>
