<div class="comment-card__header">
  <div class="comment-card__author d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <%= user_icon_or_youtube(comment.user, size: '20x20', class: 'rounded-circle ml-1') %>
      <%= link_to comment.user.nickname, user_path(comment.user.account), class: 'comment-card__username ml-1' %>
      <div class="comment-card__createdAt ml-2" data-created-at="<%= comment.created_at %>">
        <%= time_ago_in_words(comment.created_at).upcase %>前
      </div>
    </div>

    <div class="d-flex ml-auto">
      <% if admin_signed_in? %>
        <%= link_to admin_comment_path(comment), method: :delete, remote: true, data: { confirm: '本当に削除しますか?', cancel: 'やめる', commit: '削除する' }, title: '削除確認', class: "btn btn-danger btn-sm" do %>
          削除
        <% end %>
      <% end %>
      <% if user_signed_in? && (current_user == comment.user) %>
        <span data-comment-id=<%= comment.id %> class="js-edit-comment-button comment-card__icon mr-3">
          <i class="fas fa-edit"></i>
        </span>
        <div class="text-right">
          <%= link_to post_comment_path(post, comment), method: :delete, remote: true, data: { confirm: '本当に削除しますか?', cancel: 'やめる', commit: '削除する' }, title: '削除確認', class: "comment-card__icon mr-3" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>

      <div class="report-btn text-right ml-2" id="report-btn-<%= comment.id %>">
        <%= render "public/reports/report_btn", comment: comment %>
      </div>
    </div>
  </div>
</div>
<div class="comment-card__wrapper">
  <div class="comment-card__contents">
    <%# <p class="comment-card__body"><%= comment.comment %>
    <div id="js-comment-<%= comment.id %>">
      <%= render "public/comments/js_comment", comment: comment %>
    </div>
    <div id="comment_favorite_btn_<%= comment.id %>" class="comment-card__favorite-btn">
      <%= render "public/comment_favorites/btn", comment: comment %>
    </div>
  </div>
</div>
