
  <div class="slideshow-container">
    <!--<div class="slide fade">
     <%# <%= image_tag "top/top1.jpg" %> #%>
    </div> -->
    <div class="slide fade">
      <%= image_tag "top/top1_1.jpg" %>
    </div>
    <div class="slide fade">
      <%= image_tag "top/top2_1.jpg" %>
    </div>
   <%# <div class="slide fade">
     <%= image_tag "top/top4.jpg" %>
    <!--</div>  -->
  </div>

  <div class="top-section">
    <div class="catchphrase-container">
      <h1 class="slogan">Seeding Success, <br>Growing Influence</h1>
      <p class="catchphrase">YouTubeで始まる、ブログで続く</p>
<%= link_to about_path, class: "round-button" do %>
  <span class="arrow">↗</span>
<% end %>

    </div>
  </div>

<!-- 人気記事 -->
<div class="container-fluid" id="popular-container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="headline mt-5 ml-5">人気の記事</h4>

      <ul class="slider mt-3">
        <% @daily_popular_posts.each do |post| %>
          <li class="post-item">
            <%= link_to post_path(post), class: "link-to" do %>
              <% video_id = extract_youtube_video_id(post.link) %>
              <% next unless video_id.present? %>
              <div class="thumbnail-wrapper">
                <div class="thumbnail-container">
                  <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width: 250px; height: auto;', show_info: false) %>
                </div>
                <div class="view-count">
                  <div class="weekly-view-number">
                    <p class="count-style"><%= post.impressions_count %><br></p>
                    <p class="view-style">Views</p>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="post-content mt-2">
              <div class="tag-buttons">
                <% post.tag_list.first(2).each do |tag| %>
                  <span class="tag-btn ml-3"><%= link_to tag, tag_path(tag) %></span>
                <% end %>
                <div class="date-container ml-auto">
                  <p class="date mr-3"><%= formatted_datetime(post.created_at) %></p>
                </div>
              </div>
              <div class="trend-post-title mt-2">
                <% if post.title.length > 10 %>
                  <h6><%= link_to truncate(post.title, length: 10), post_path(post) %></h6>
                <% else %>
                  <h6><%= link_to post.title, post_path(post) %></h6>
                <% end %>
              </div>
              <div class="post-meta">
                <%= link_to user_path(post.user.account), class: 'user-link' do %>
                <div class="user-info-container d-flex">
                  <div class="user-info">
                    <%= user_icon_or_youtube(post.user, size: '20x20', class: 'rounded-circle ml-3') %>
                      <p class="user-nickname ml-1"><%= post.user.nickname %></p>
                  </div>
                <% end %>
                  <div class="post-favorites-container ml-auto">
                    <p class="post-favorites mr-3">
                      <i class="fa fa-heart"></i>
                      <span class="count-style mr-1"><%= post.post_favorites.count %></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <div class="trend-btn-container text-center">
        <%= link_to posts_path, class: "btntextchange trend-btn my-3" do %>
          <span>View More </span>
          <span>Trending</span>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- 週間記事ランキング -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h4 class="headline mt-5 ml-5">週間記事ランキング</h4>

      <div class="weekly-ranking-container mt-3 d-flex flex-wrap">
        <% @weekly_most_viewed_posts.each_with_index do |post, index| %>
          <div class="post-item mx-1 mx-auto">
            <%= link_to post_path(post), class: "link-to" do %>
              <div class="ranking-number">No. <%= index + 1 %></div> <!-- ランキングを表示する要素 -->
              <% video_id = extract_youtube_video_id(post.link) %>
              <% next unless video_id.present? %>
              <div class="thumbnail-wrapper">
                <div class="thumbnail-container">
                  <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width: 380px; height: auto;', show_info: false) %>
                </div>
                <div class="weekly-view-count">
                  <div class="weekly-view-number">
                    <p class="count-style"><%= post.impressions_count %><br></p>
                    <p class="view-style">Views</p>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="post-content mt-2">
              <div class="tag-buttons">
                <% post.tag_list.first(2).each do |tag| %>
                  <span class="tag-btn ml-3"><%= link_to tag, tag_path(tag) %></span>
                <% end %>
                <div class="date-container ml-auto">
                  <p class="date mr-1"><%= formatted_datetime(post.created_at) %></p>
                </div>
              </div>
              <div class="weekly-post-title text-center mt-2">
                <%= link_to post_path(post) do %>
                  <% if post.title.length > 30 %>
                  <h6>  <%= truncate(post.title, length: 30) %></h6>
                  <% else %>
                  <h6>  <%= post.title %></h6>
                  <% end %>
                <% end %>
              </div>
              <div class="post-meta d-flex">
                <%= link_to user_path(post.user.account), class: 'user-link' do %>
                <div class="user-info">
                  <%= user_icon_or_youtube(post.user, size: '20x20', class: 'rounded-circle ml-1') %>
                  <p class="user-nickname ml-2"><%= post.user.nickname %></p>
                </div>
                  <% end %>
                <div class="post-favorites-container ml-auto">
                  <div class="post-favorites">
                    <i class="fa fa-heart"></i>
                    <span class="count-style"><%= post.post_favorites.count %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="trend-btn-container text-center mt-5">
        <%= link_to posts_path, class: "btntextchange trend-btn" do %>
          <span>View More </span>
          <span>Weekly Top</span>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- デイリーベスト -->
<div class="daily-container-fluid mt-5">
  <div class="row">
    <div class="col-md-6">
      <h4 class="headline mt-5 ml-5">Daily's Best</h4>

      <div class="daily-container mt-3">
        <% if @daily_best %>
          <div class="post-item mx-1 mx-auto">
            <%= link_to post_path(@daily_best), class: "link-to" do %>
              <% video_id = extract_youtube_video_id(@daily_best.link) %>
              <% next unless video_id.present? %>
              <div class="thumbnail-wrapper">
                <div class="thumbnail-container">
                  <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width: 740px; height: auto;', show_info: false) %>
                </div>
                <div class="weekly-view-count">
                  <div class="weekly-view-number">
                    <p class="count-style"><%= @daily_best.impressions_count %><br></p>
                    <p class="view-style">Views</p>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="post-content mt-2">
              <div class="tag-buttons">
                <% @daily_best.tag_list.first(2).each do |tag| %>
                  <span class="tag-btn ml-3"><%= link_to tag, tag_path(tag) %></span>
                <% end %>
                <div class="date-container ml-auto">
                  <p class="date mr-1"><%= formatted_datetime(@daily_best.created_at) %></p>
                </div>
              </div>
              <div class="weekly-post-title text-center mt-2">
                <%= link_to post_path(@daily_best) do %>
                  <% if @daily_best.title.length > 30 %>
                    <h6><%= truncate(@daily_best.title, length: 30) %></h6>
                  <% else %>
                    <h6><%= @daily_best.title %></h6>
                  <% end %>
                <% end %>
              </div>
              <div class="post-meta d-flex">
                <%= link_to user_path(@daily_best.user.account), class: 'user-link' do %>
                <div class="user-info">
                  <%= user_icon_or_youtube(@daily_best.user, size: '20x20', class: 'rounded-circle ml-1') %>
                  <p class="user-nickname ml-2"><%= @daily_best.user.nickname %></p>
                </div>
                  <% end %>
                <div class="post-favorites-container ml-auto">
                  <div class="post-favorites">
                    <i class="fa fa-heart"></i>
                    <span class="count-style"><%= @daily_best.post_favorites.count %></span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      </div>

      <%#<div class="read-more-btn-container text-center">
        <% if @daily_best %>
      <%#    <%= link_to 'READ MORE', post_path(@daily_best), class: 'read-more-btn' %>
    <%#    <% end %>
    <%#  </div>　%>

      <div class="trend-btn-container text-center mt-3">
        <% if @daily_best %>
          <%= link_to post_path(@daily_best), class: 'btntextchange trend-btn' do %>
            <span>Read More</span>
            <span>最注目コンテンツ</span>
          <% end %>
        <% end %>
      </div>

    </div>

    <!-- 急上昇クリエイター -->
    <div class="col-md-6">
      <h4 class="headline mt-5 ml-5">急上昇クリエイター</h4>
        <ul class="ranking-list mt-3">
          <% @ranking.each do |user| %>
            <li class="ranking-user">
              <%= link_to user_path(user.account), class: 'user-link' do %>
                <div class="user-info-ranking d-flex align-items-center">
                  <%= user_icon_or_youtube(user, size: '100x100', class: 'rounded-circle user-icon') %>
                  <div class="user-details ml-3">
                    <p class="ranking-user-nickname"><%= user.nickname %></p>
                    <p class="user-introduction"><%= user.introduction %></p>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <div class="trend-btn-container text-center mt-3">
       <span class="btntextchange trend-btn">
        <span>急上昇クリエイター</span>
        <span>大注目!!!</span>
      </span>
    　</div>
  　</div>
  </div>
</div>



<!-- 新着記事 -->
<div class="container-fluid" id="new-posts-container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="headline mt-5 ml-5">新着記事</h4>
      <ul class="slider">
        <% @daily_new_posts.each do |post| %>
          <li class="post-item">
            <%= link_to post_path(post), class: "link-to" do %>
              <% video_id = extract_youtube_video_id(post.link) %>
              <% next unless video_id.present? %>
              <div class="thumbnail-wrapper">
                <div class="thumbnail-container">
                  <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width: 250px; height: auto;', show_info: false) %>
                </div>
                <div class="view-count">
                  <div class="weekly-view-number">
                    <p class="count-style"><%= post.impressions_count %><br></p>
                    <p class="view-style">Views</p>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="post-content mt-2">
              <div class="tag-buttons">
                <% post.tag_list.first(2).each do |tag| %>
                  <span class="tag-btn ml-3"><%= link_to tag, tag_path(tag) %></span>
                <% end %>
                <div class="date-container ml-auto">
                  <p class="date mr-3"><%= formatted_datetime(post.created_at) %></p>
                </div>
              </div>
              <div class="trend-post-title mt-2">
                <% if post.title.length > 10 %>
                  <h6><%= link_to truncate(post.title, length: 10), post_path(post) %></h6>
                <% else %>
                  <h6><%= link_to post.title, post_path(post) %></h6>
                <% end %>
              </div>
              <div class="post-meta">
                <%= link_to user_path(post.user.account), class: 'user-link' do %>
                <div class="user-info-container d-flex">
                  <div class="user-info">
                    <%= user_icon_or_youtube(post.user, size: '20x20', class: 'rounded-circle ml-3') %>
                      <p class="user-nickname ml-1"><%= post.user.nickname %></p>
                  </div>
                <% end %>
                  <div class="post-favorites-container ml-auto">
                    <p class="post-favorites mr-3">
                      <i class="fa fa-heart"></i>
                      <span class="count-style mr-1"><%= post.post_favorites.count %></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
       <div class="trend-btn-container text-center mt-3">
         <%= link_to posts_path, class: 'btntextchange trend-btn' do %>
          <span>view More</span>
          <span>今すぐチェック</span>
         <% end %>
      </div>
  </div>
</div>



<script>

  // スライドショー
$(document).ready(function() {
	$('.slider').slick({
		autoplay: true,//自動的に動き出すか。初期値はfalse。
		infinite: true,//スライドをループさせるかどうか。初期値はtrue。
		slidesToShow: 4,//スライドを画面に3枚見せる
		slidesToScroll: 4,//1回のスクロールで3枚の写真を移動して見せる
		prevArrow: '<div class="slick-prev"></div>',//矢印部分PreviewのHTMLを変更
		nextArrow: '<div class="slick-next"></div>',//矢印部分NextのHTMLを変更
		dots: true,//下部ドットナビゲーションの表示
		responsive: [
			{
			breakpoint: 769,//モニターの横幅が769px以下の見せ方
			settings: {
				slidesToShow: 2,//スライドを画面に2枚見せる
				slidesToScroll: 2,//1回のスクロールで2枚の写真を移動して見せる
			}
		},
		{
			breakpoint: 426,//モニターの横幅が426px以下の見せ方
			settings: {
				slidesToShow: 1,//スライドを画面に1枚見せる
				slidesToScroll: 1,//1回のスクロールで1枚の写真を移動して見せる
			}
		}
	]
	});
});



    let slideIndex = 0;
  showSlides();

  function showSlides() {
    // スライドの要素を取得
    const slides = document.querySelectorAll(".slide.fade");

    // slideIndexを1増やす（次のスライドに進む）
    slideIndex++;

    // スライドの数よりもslideIndexが大きくなった場合、最初のスライドに戻る
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }

    // 現在のスライドを表示（opacityを1に設定）
    slides[slideIndex - 1].style.opacity = "1";

    // 1つ前のスライドを非表示（opacityを0に設定）
    slides[slideIndex - 2 < 0 ? slides.length - 1 : slideIndex - 2].style.opacity = "0";

    // 一定時間（6000ミリ秒＝6秒）後に再度showSlides関数を呼び出す（次のスライドに進むための処理）
    setTimeout(showSlides, 6000);
  }

// タイトルボタンエフェクト
const buttons = document.querySelectorAll('.trend-btn');

const observerOptions = {
  root: null,
  rootMargin: '0px',
  threshold: 0,
};

const observer = new IntersectionObserver((entries, observer) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      entry.target.classList.add('fade-in');
    } else {
      entry.target.classList.remove('fade-in');
    }
  });
}, observerOptions);

buttons.forEach((button) => {
  observer.observe(button);
});

</script>

