
  <div class="slideshow-container">
    <div class="slide fade">
      <%= image_tag "top/top1.jpg" %>
    </div>
    <div class="slide fade">
      <%= image_tag "top/top2.jpg" %>
    </div>
    <div class="slide fade">
      <%= image_tag "top/top3.jpg" %>
    </div>
    <div class="slide fade">
      <%= image_tag "top/top4.jpg" %>
    </div>
  </div>

      <div class="top-section">
  <div class="catchphrase-container">
    <h2 class="catchphrase">YouTubeで始まる、ブログで続く。</h2>
  </div>


</div>




<!-- メイン -->
<div class="container" id="popular-container">
  <div class="row">
    <div class="col-md-12">
      <span class="btntextchange trend-btn">
        <span>人気急上昇</span>
        <span>トレンド中</span>
      </span>


      <ul class="slider mt-3">
        <% @daily_popular_posts.each do |post| %>
        <li class="post-item">
          <%= link_to post_path(post) do %>
            <% video_id = extract_youtube_video_id(post.link) %>
            <% next unless video_id.present? %>
            <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width: 250px; height: auto;', show_info: false) %>
          <% end %>
          <div class="post-content">
            <% if post.title.length > 10 %> <!-- 10文字以上の場合の条件分岐 -->
              <h6><%= link_to truncate(post.title, length: 10), post_path(post) %></h6>
            <% else %>
              <h6><%= link_to post.title, post_path(post) %></h6>
            <% end %>
          <div class="post-meta">
            <div class="trend-user-info">
              <p class="user-nickname"><%= post.user.nickname %></p>
              <p class="post-favorites"><i class="fa fa-heart"></i> <%= post.post_favorites.count %></p>
            </div>
            <div class="tag-buttons">
              <% post.tag_list.first(2).each do |tag| %>
                <span class="tag-btn"><%= tag %></span>
              <% end %>
            </div>
          </div>

            <p><%= link_to 'READ MORE', post_path(post), class: 'read-more-btn' %></p>
          </div>
        </li>

        <% end %>
      </ul>
    </div>
  </div>
</div>


<!-- デイリーベスト -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
<%= link_to post_path(@daily_most_viewed_post), class: 'btntextchange trend-btn' do %>
  <span>Daily's Best</span>
  <span>最注目コンテンツ</span>
<% end %>


      <% if @daily_most_viewed_post %>
      <div class="daily-best mt-3 fadeInUp">
        <%= link_to post_path(@daily_most_viewed_post) do %>
          <div class="thumbnail-container">
            <%= youtube_thumbnail(extract_youtube_video_id(@daily_most_viewed_post.link), size: '1280x720', style: 'width: 100%; height: auto;', show_info: false) %>
          </div>
        <% end %>
        <h4 class="daily-title text-center">
          <%= link_to @daily_most_viewed_post.title, post_path(@daily_most_viewed_post) %>
        </h4>
        <div class="post-meta">
          <div class="user-info">
            <%= user_icon_or_youtube(@user.channel, size: '40x40', class: 'rounded-circle') %>
            <p class="user-nickname"><%= @daily_most_viewed_post.user.nickname %></p>
            <p class="post-favorites">
              <i class="fa fa-heart"></i> <%= @daily_most_viewed_post.post_favorites.count %>
            </p>
          </div>
          <div class="tag-buttons">
            <% @daily_most_viewed_post.tag_list.each do |tag| %>
              <span class="tag-btn"><%= tag %></span>
            <% end %>
          </div>
        </div>
        <div class="daily-post-body">
          <p class="text-center"><%= @daily_most_viewed_post.content %></p>
        </div>
        <p class="read-more-link">
          <%= link_to '続きはコチラ', post_path(@daily_most_viewed_post), class: 'daily-read-more-btn' %>
        </p>
      </div>
    </div>
    <% end %>

    <!-- 急上昇クリエイター -->
    <div class="col-md-4">
      <span class="btntextchange trend-btn">
        <span>急上昇クリエイター</span>
        <span>大注目!!!</span>
      </span>

<ul class="ranking-list mt-3">
  <% @ranking.each do |user| %>
    <li class="ranking-user">
      <%= link_to user_path(user.account), class: 'user-link' do %>
        <div class="user-info">
          <%= user_icon_or_youtube(user.channel, size: '70x70', class: 'rounded-circle user-icon') %>
          <div class="user-details">
            <p class="user-nickname"><%= user.nickname %></p>
            <p class="user-introduction"><%= user.introduction %></p>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>


    </div>
  </div>
</div>


<!-- 新着スライドショー -->
<div class="container mt-5" id="new-posts-container">
  <div class="row">
    <div class="col-md-12">
   <%= link_to posts_path, class: 'btntextchange trend-btn' do %>
      <span>新着</span>
      <span>今すぐチェック</span>
    <% end %>

      <ul class="slider">
        <% @daily_new_posts.each do |post| %>
          <li class="post-item">
          <%= link_to post_path(post) do %>
            <% video_id = extract_youtube_video_id(post.link) %>
            <% next unless video_id.present? %>
            <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width: 250px; height: auto;', show_info: false) %>
          <% end %>
          <div class="post-content">
            <% if post.title.length > 10 %> <!-- 10文字以上の場合の条件分岐 -->
              <h6><%= link_to truncate(post.title, length: 10), post_path(post) %></h6>
            <% else %>
              <h6><%= link_to post.title, post_path(post) %></h6>
            <% end %>
          <div class="post-meta">
            <div class="trend-user-info">
              <p class="user-nickname"><%= post.user.nickname %></p>
              <p class="post-favorites"><i class="fa fa-heart"></i> <%= post.post_favorites.count %></p>
            </div>
            <div class="tag-buttons">
              <% post.tag_list.first(2).each do |tag| %>
                <span class="tag-btn"><%= tag %></span>
              <% end %>
            </div>
          </div>

            <p><%= link_to 'READ MORE', post_path(post), class: 'read-more-btn' %></p>
          </div>
        </li>

        <% end %>
      </ul>
    </div>
  </div>
</div>



<script>

  // スライドショー
$(document).ready(function() {
  $('.slider').slick({
    autoplay: true,
    infinite: true,
    speed: 500,
    slidesToShow: 3,
    slidesToScroll: 1,
    prevArrow: '<div class="slick-prev"></div>',
    nextArrow: '<div class="slick-next"></div>',
    centerMode: true,
    variableWidth: true,
    dots: true,
  });
});



    let slideIndex = 0;
  showSlides();

  function showSlides() {
    // スライドの要素を取得
    const slides = document.querySelectorAll(".slide.fade");

    // slideIndexを1増やす（次のスライドに進む）
    slideIndex++;

    // スライドの数よりもslideIndexが大きくなった場合、最初のスライドに戻る
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }

    // 現在のスライドを表示（opacityを1に設定）
    slides[slideIndex - 1].style.opacity = "1";

    // 1つ前のスライドを非表示（opacityを0に設定）
    slides[slideIndex - 2 < 0 ? slides.length - 1 : slideIndex - 2].style.opacity = "0";

    // 一定時間（6000ミリ秒＝6秒）後に再度showSlides関数を呼び出す（次のスライドに進むための処理）
    setTimeout(showSlides, 6000);
  }

// タイトルボタンエフェクト
const buttons = document.querySelectorAll('.trend-btn');

const observerOptions = {
  root: null,
  rootMargin: '0px',
  threshold: 0,
};

const observer = new IntersectionObserver((entries, observer) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      entry.target.classList.add('fade-in');
    } else {
      entry.target.classList.remove('fade-in');
    }
  });
}, observerOptions);

buttons.forEach((button) => {
  observer.observe(button);
});

</script>
