<div class="hashtags container">
  <div class="hashtags__wrapper row">
    <div class="col-md-12">
      <div class="hashtags__header">
        <% if @tagged_posts.present? %>
          <h1 class="hashtags__title">Hashtag: <%= @tag.name %>の一覧</h1>
        <% else %>
          <h1 class="hashtags__title">Hashtag not found</h1>
        <% end %>
      </div>
      <div class="row hidden-md-up">
        <% @tagged_posts.each do |post| %>
        <%#  <div class="col-md-12 mb-4 pb-4 border-bottom">
            <%= render partial: 'public/shared/post_card', locals: { post: @post, isDetail: false } %>
        <%#  </div> %>

          <div>
    <h3><%= link_to post.title, post_path(post) %></h3>
    <p><%= post.tag_list.join(', ') %></p>
  </div>

        <% end %>
      </div>
    </div>
  </div>
  <div class="pagination justify-content-center">
    <%# <%= paginate @tagged_posts %>
  </div>
</div>
