<%= render 'public/shared/error_messages', object: @user %>
<div class="container">
  <div class="row text-center">
    <div class="col-md-8 offset-md-2">
      <h2 class="auth-form-title mx-auto mt-5 mb-3">Sign up</h2>

      <div class="row text-center">
        <p class="mx-auto">すでにアカウントがありますか？<%= render "public/shared/links" %></p>
      </div>

      <%= form_with(model: @user, local: true, url: registration_path(resource_name)) do |f| %>

          <% fields = [
            { attribute: :nickname, label: "表示名", placeholder: "2～20文字" },
            { attribute: :account, label: "アカウント名", placeholder: "3~20文字の英数字" },
            { attribute: :email, label: "メールアドレス", placeholder: "メールアドレス"},
            { attribute: :password, label: "パスワード", placeholder: "6~30文字の英数字" },
            { attribute: :password_confirmation, label: "パスワード(確認用)", placeholder: "パスワード(確認用)" }
          ] %>

        <% fields.each do |field| %>
          <div class="d-flex justify-content-center flex-column">
            <div class="form-group mx-auto">
              <h6 class="text-left"><%= field[:label] %></h6>
              <div class="flex items-center">
                <%= f.text_field field[:attribute], autofocus: field[:attribute] == :nickname, class: 'form-control', style: "width: 100%", placeholder: field[:placeholder] %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="d-flex justify-content-center flex-column">
          <div class="form-group mx-auto">
            <%= f.submit "Sign up", class: 'custom-btn' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>