<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <% if @model == 'user' %>
        <h4 class="headline">Users search for "<%= @content %>"（<%= @total_results_count %>件）</h4>
        <% if @results.present? %>
          <% @results.each do |user| %>
            <%= render partial: 'public/users/profile-card', locals: { user: user }  %>
          <% end %>
        <% else %>
          <p>ユーザーの検索結果がありません</p>
        <% end %>
      <% elsif @model == 'post' %>
        <h4 class="headline">Posts search for "<%= @content %>"（<%= @total_results_count %>件）</h4>
        <% if @results.present? %>
          <%= render partial: 'public/posts/index', locals: { posts: @results }  %>
        <% else %>
          <p>投稿の検索結果がありません</p>
        <% end %>
      <% elsif @model == 'tag' %>
        <h4 class="headline">Tags search for "<%= @content %>"</h4>
        <% if @results.present? %>
          <% @results.each do |tag| %>
            <%= render partial: 'public/shared/tag_post', locals: { results: @results } %>
          <% end %>
        <% else %>
          <p>タグの検索結果がありません</p>
        <% end %>
      <% else %>
        <h3>Search for "<%= @content %>"</h3>
        <% if @results.present? %>
          <% @results.each do |result| %>
            <% if result.is_a?(User) %>
              <h4>User</h4>
              <%= render partial: 'public/users/shared/profile-card', locals: { user: result } %>
            <% elsif result.is_a?(Post) %>
              <h4>Post</h4>
              <%= render partial: 'public/posts/index', locals: { posts: [result] } %>
            <% end %>
          <% end %>
        <% else %>
          <p>検索結果がありません</p>
        <% end %>
      <% end %>
      <div class="pagination justify-content-center">
        <%= paginate @results, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>
