<% notifications.each do |notification| %>
  <% visitor = notification.visitor %>
  <% visited = notification.visited %>
  <div class="col-md-12 mx-auto">
    <div class="form-inline">
      <span>
        <%= link_to user_path(visitor) do %>
          <%#<%= image_tag avatar_url(visitor).to_s, class: "icon_mini" %>
          <strong>
            <%= visitor.nickname %>
          </strong>
        <% end %>
        さんが
      </span>
      <% case notification.action %>
      <% when 'follow' then %>
        あなたをフォローしました
      <% when 'favorite_post' then %>
        <%= link_to "#{truncate(notification.post.title, length: 10)}の投稿", notification.post, style: "font-weight: bold;" %>
        にいいねしました
      <% when 'comment' then %>
        <% if notification.post.user_id == visited.id %>
          <%= link_to "#{truncate(notification.post.title, length: 10)}の投稿", notification.post, style: "font-weight: bold;" %>
        <% else %>
          <span>
            <%= link_to post_path(notification.post) do %>
              <%= image_tag avatar_url(notification.post.user).to_s, class: "icon_mini" %>
              <strong>
                <%= notification.post.user.name + 'さんの投稿' %>
              </strong>
            <% end %>
          </span>
        <% end %>
        にコメントしました
      <% end %>
    </div>
    <div class="small text-muted text-right">
      <%= time_ago_in_words(notification.created_at).upcase %>
    </div>
    <hr>
  </div>
<% end %>
