<article class="profile-card">
  <div class="d-flex flex-row">
    <div class="profile-card__image">
      <%= link_to user_path(user.account) do %>
        <%= user_icon_or_youtube(user, size: "100x100", class: "img-fluid rounded-circle") %>
      <% end %>
    </div>

    <div class="profile-card__information ml-3">
      <div class="profile-card__data profile-card__data--name">
        <div class="d-flex align-items-center">
          <h5 class="mb-0">名前:</h5>
          <span class="ml-2"><%= link_to user.nickname, user_path(user.account) %></span>
        </div>
      </div>

      <div class="profile-card__data profile-card__data--chennel-name">
        <% channel_id = extract_youtube_channel_id(user.channel) %>
        <% if channel_id.present? %>
          <div class="d-flex align-items-center">
            <h5 class="mb-0">チャンネル名:</h5>
            <span class="ml-2"><%= link_to youtube_channel_name(channel_id), "https://www.youtube.com/channel/#{channel_id}", target: "_blank" %></span>
          </div>
        <% end %>
      </div>

      <div class="profile-card__data profile-card__data--introduction">
        <h5>紹介:</h5>
        <% if user.introduction.present? %>
          <%= user.introduction %>
        <% else %>
          自己紹介はまだありません。
        <% end %>
      </div>

      <div class="profile-card__relation-wrapper">
        <div class="profile-card__relation profile-card__relation--followers d-flex align-items-center">
          <h5 class="mb-0 mr-2">Followers:</h5>
          <span><%= user.followers.count %></span>
        </div>

        <div class="profile-card__relation profile-card__relation--posts d-flex align-items-center">
          <h5 class="mb-0 mr-2">投稿数:</h5>
          <span><%= user.posts.published.count %></span>
        </div>
      </div>
    </div>
  </div>
</article>
