<div class="banner-container">
  <div class="banner">
   <%= user_banner_or_default(current_user, size: 'high') %>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- 左側の余白 -->
    <div class="col-md"></div>

    <!-- アイコンカラム -->
    <div class="col-md-2">
      <div class="profile-container">
        <div class="icon">
          <% channel_id = extract_youtube_channel_id(@user.channel) %>
          <% if channel_id.present? %>
            <%= link_to youtube_channel_icon(channel_id, size: 'default', class: 'channel-icon rounded-circle'), "https://www.youtube.com/channel/#{channel_id}", target: "_blank" %>
            <div class="channel-name">
              <%= link_to youtube_channel_name(channel_id), "https://www.youtube.com/channel/#{channel_id}", target: "_blank" %>
            </div>
          <% else %>
            <%= image_tag @user.get_icon, class: "rounded-circle file-fluid" %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Introductionカラム -->
    <div class="col-md-6">
      <div class="profile-info d-flex align-items-center justify-content-between">
        <div class="nickname">
          <h5><%= @user.nickname %></h5>
        </div>

        <% if current_user == @user %>
          <div class="edit-container ml-3">
            <%= link_to "Edit", edit_user_path(@user), class: "edit-btn" %>
          </div>
        <% end %>
      </div>

      <div class="introduction">
        <p><%= @user.introduction %></p>
      </div>

      <div class="information">
        <p class="mr-3"><span class="info-label">Views:</span> <%= @total_views %></p>
        <p class="mr-3"><span class="info-label">Likes:</span> <%= @user.posts.joins(:post_favorites).count %></p>
        <p class="mr-3" id="following-count">
          <%= render "public/relationships/following-count", user: @user %>
        </p>
        <p id="follower-count">
          <%= render "public/relationships/follower-count", user: @user %>
        </p>
      </div>

      <% if user_signed_in? && current_user != @user %>
        <div id="follow-btn">
          <%= render "public/relationships/follow", user: @user %>
        </div>
      <% end %>
    </div>

    <!-- 右側の余白 -->
    <div class="col-md"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h5 class="show-headline mt-5">投稿記事</h5>

      <% if @latest_post %>
        <div class="daily-container mt-3">
          <div class="post-item mx-1 mx-auto">
            <%= link_to post_path(@latest_post), class: "link-to" do %>
              <% video_id = extract_youtube_video_id(@latest_post.link) %>
              <% next unless video_id.present? %>
              <div class="thumbnail-wrapper">
                <div class="thumbnail-container">
                  <%= youtube_thumbnail(video_id, size: '1280x720', style: 'width: 720px; height: auto;', show_info: false) %>
                  <div class="pickup-badge">Pick Up</div>
                </div>
                <div class="weekly-view-count">
                  <div class="weekly-view-number">
                    <p class="count-style"><%= @latest_post.impressions_count %><br></p>
                    <p class="view-style">Views</p>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="post-content mt-2">
              <div class="tag-buttons">
                <% @latest_post.tag_list.first(2).each do |tag| %>
                  <span class="tag-btn ml-3"><%= link_to tag, tag_path(tag) %></span>
                <% end %>
                <div class="date-container ml-auto">
                  <p class="date mr-1"><%= formatted_datetime(@latest_post.created_at) %></p>
                </div>
              </div>
              <div class="weekly-post-title text-center mt-2">
                <%= link_to post_path(@latest_post) do %>
                  <% if @latest_post.title.length > 30 %>
                    <h6><%= truncate(@latest_post.title, length: 30) %></h6>
                  <% else %>
                    <h6><%= @latest_post.title %></h6>
                  <% end %>
                <% end %>
              </div>
              <div class="post-meta d-flex">
                <%= link_to user_path(@latest_post.user.account), class: 'user-link' do %>
                  <div class="user-info">
                    <%= user_icon_or_youtube(@latest_post.user, size: '20x20', class: 'rounded-circle ml-1') %>
                    <p class="user-nickname ml-2"><%= @latest_post.user.nickname %></p>
                  </div>
                <% end %>
                <div class="post-favorites-container ml-auto">
                  <div class="post-favorites">
                    <i class="fa fa-heart"></i>
                    <span class="count-style"><%= @latest_post.post_favorites.count %></span>
                  </div>
                </div>
              </div>
              <div class="post-body-container">
                <%= truncate(@latest_post.body.body.to_plain_text, length: 100) %>
              </div>
              <div class="read-more-btn-container text-right mt-2 mb-4 mr-2">
                <%= link_to 'READ MORE', post_path(@latest_post), class: 'read-more-btn' %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <p class="text-center mt-3">投稿記事がありません。</p>
      <% end %>
      <div class="post-detail-wrapper">
        <%= render 'public/shared/post_detail', posts: @posts %>
      </div>
      <div class="row mb-5">
        <div class="mx-auto mb-5">
         <%= paginate @posts, theme: "bootstrap-5" %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h5 class="show-headline mt-5">Ranking</h5>
      <div class="latest-post-container d-flex flex-wrap">
        <% @post_ranking.each do |post| %>
          <% if post.published? %>
            <%= render "public/posts/side.post", post: post %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if current_user %>
  <!-- フォロー一覧のモーダルウィンドウ -->
  <div id="following-modal" class="modal">
    <div class="common-modal-content"></div>
    <button id="close-preview-modal" class="close-button">×</button>
  </div>

  <!-- フォロワー一覧のモーダルウィンドウ -->
  <div id="follower-modal" class="modal">
    <div class="common-modal-content"></div>
    <button id="close-preview-modal" class="close-button">×</button>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('#following-count').click(function() {
      $.ajax({
        url: '<%= following_list_user_path(@user) %>',
        type: 'GET',
        success: function(response) {
          $('#following-modal .common-modal-content').html(response);
          $('#following-modal').addClass('fade-in').show();
        }
      });
    });

    $('#following-modal').on('click', function(event) {
      if (event.target === this) {
        $(this).addClass('fade-out');
        setTimeout(() => {
          $(this).hide().removeClass('fade-out');
        }, 300); // アニメーションの時間に合わせて調整
      }
    });
  });
</script>

<script>
  $(document).ready(function() {
    $('#follower-count').click(function() {
      $.ajax({
        url: '<%= follower_list_user_path(@user) %>',
        type: 'GET',
        success: function(response) {
          $('#follower-modal .common-modal-content').html(response);
          $('#follower-modal').addClass('fade-in').show();
        }
      });
    });

    $('#follower-modal').on('click', function() {
      $(this).addClass('fade-out');
      setTimeout(() => {
        $(this).hide().removeClass('fade-out');
      }, 300); // アニメーションの時間に合わせて調整
    });
  });
</script>
