<div class="container">
  <div class="row">
    <!-- 左側の余白 -->
    <div class="col-md"></div>

    <!-- アイコンカラム -->
<div class="col-md-2">
  <div class="icon">
    <%= image_tag @user.get_icon, class: "rounded-circle file-fluid" %>
  </div>
  <div class="button">
    <%= link_to "Edit", edit_user_path(@user), class:"btn", style: "background-color: #BDDF38; color: black; ml-3" %>
  </div>
</div>

    <!-- Introductionカラム -->
    <div class="col-md-6">
      <div class="nickname">
        <h5><%= @user.nickname %></h5>
      </div>
      <div class="introduction">
        <p><%= @user.introduction %></p>
      </div>

      <span class="information d-flex">
        <p class="mr-3">Views:<%= @total_views %></p>
        <p class="mr-3">Likes:<%= @user.posts.joins(:post_favorites).count %></p>
        <p class="mr-3">Follows:<%= @user.followings.count %></p>
        <p>Followers:<%= @user.followers.count %></p>
      </span>
      
      <% if current_user != @user %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", unfollow_user_path(@user.account), method: :delete, class: "btn btn-info" %>
        <% else %>
          <%= link_to "フォローする", follow_user_path(@user.account), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>


    </div>

    <!-- 右側の余白 -->
    <div class="col-md"></div>
  </div>
</div>

<div class="container">
  <div class="row">

      <h2>MY BLOG</h2>
      <div class="list-group list-group-horizontal justify-content-around">
      <%= render 'public/shared/post_index', posts: @posts %>
    </div>
  </div>
</div>

