<header class="sticky-top" id="header">
  <div class="col-md-10 offset-md-1">
  <nav class="navbar navbar-expand-lg py-4">
    
    <a>
      <%= link_to root_path, data: { "turbolinks" => false }, class: "mx-4" do %>
        <%= image_tag "logo_2seeds.png", alt: "LOGO", size: "100x90" %>
      <% end %>
    </a>
    
    <%= render "searches/form" %>

    <ul class="navbar-nav mx-5 d-flex align-items-center ml-auto">
      <li class="mr-3">
        <% if user_signed_in? %>
          <%# <%= link_to notifications_path do %>
          <a href="javascript:void(0)" id="notifications-link">
            <% if unchecked_notifications.any? %>
              <span class="fa-stack">
                <i class="far fa-bell fa-lg fa-stack-2x" style="font-size: 1.5em;"></i>
                <i class="fas fa-circle n-circle fa-stack-1x"></i>
              </span>
            <% else %>
              <i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>
            <% end %>
          <% end %>
       
      </li>

      <!-- 通知一覧を表示するモーダルウィンドウ -->
      <div id="notifications-modal" class="modal">
        <div class="modal-content"></div>
      </div>

      <li>
        <% unless user_signed_in? %>
          <%= link_to 'Sign up', new_user_registration_path, class: "btn mx-3", style: "background-color: #BDDF38; color: black; font-weight: bold;" %>
        <% end %>
      </li>
      <li>
        <% unless user_signed_in? %>
          <%= link_to 'Log in', new_user_session_path, class: "btn mx-3", style: "background-color: #BDDF38; color: black; font-weight: bold;" %>
        <% end %>
      </li>

      <% if user_signed_in? %>
      <li>
        <div class="mypage-btn-container" id="mypageBtnContainer">
          <%= user_icon_or_youtube(@user.channel, size: '40x40', class: 'rounded-circle cursor-pointer') %>



          <div class="mypage-dropdown" id="mypageDropdown">
            <ul>
              <li><%= link_to '新規投稿', new_post_path %></li>
              <li><%= link_to 'アカウント設定', edit_user_path(@user) %></li>
              <li><%= link_to 'いいねした投稿', "#" %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
      </li>
      <% end %>

    </ul>
    
  </nav>
  </div>
</header>


<%# mypageドロップダウンメニュー #%>
<script>
document.addEventListener('turbolinks:load', function() {
  const mypageBtnContainer = document.getElementById('mypageBtnContainer');
  const mypageDropdown = document.getElementById('mypageDropdown');

  function toggleDropdown() {
    if (mypageDropdown.style.display === 'none') {
      $(mypageDropdown).slideDown(300);
    } else {
      $(mypageDropdown).slideUp(300);
    }
  }

  if (mypageBtnContainer) {
    mypageBtnContainer.addEventListener('click', toggleDropdown);

    // ドキュメント全体にクリックイベントを追加
    document.addEventListener('click', function(event) {
      if (!mypageBtnContainer.contains(event.target)) {
        mypageDropdown.style.display = 'none';
      }
    });
  }
});
</script>

<script>
$(document).ready(function() {
  $('#notifications-link').click(function() {
    // 通知を確認済みに更新するアクションを呼び出す
    $.ajax({
      url: '<%= update_checked_notifications_path %>',
      type: 'POST',
      success: function() {
        // 更新が成功したら、未確認の通知のオレンジ色を消す
        $('.n-circle').removeClass('orange');

        // ベルのアイコンを切り替える
        $('#notifications-link').empty();
        $('#notifications-link').append('<i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>');

        // 通知モーダルを表示する処理
        $.ajax({
          url: '<%= notifications_path(@user) %>',
          type: 'GET',
          success: function(response) {
            $('#notifications-modal .modal-content').html(response);
            $('#notifications-modal').addClass('fade-in').show();
          }
        });
      }
    });
  });

  // モーダルを閉じた際に通知モーダルの表示をリセット
  $('#notifications-modal').on('click', function() {
    $(this).addClass('fade-out');
    setTimeout(() => {
      $(this).hide().removeClass('fade-out');
    }, 300); // アニメーションの時間に合わせて調整
  });
});

</script>
