<header class="sticky-top" id="header">
  <div class="col-md-10 offset-md-1">
  <nav class="navbar navbar-expand-lg py-2">

    <a>
      <%= link_to root_path, data: { "turbolinks" => false }, class: "mx-4" do %>
        <%= image_tag "logo_2seedsr1.png", alt: "LOGO", width: "15%", height: "auto" %>
      <% end %>
    </a>

    <%= render "searches/form" %>

    <ul class="navbar-nav mx-5 d-flex align-items-center ml-auto">
      <li class="mr-3">
        <% if user_signed_in? %>
          <%# <%= link_to notifications_path do %>
          <a href="javascript:void(0)" id="notifications-link">
            <% if unchecked_notifications.any? %>
              <span class="fa-stack">
                <i class="far fa-bell fa-lg fa-stack-2x" style="font-size: 1.5em;"></i>
                <i class="fas fa-circle n-circle fa-stack-1x"></i>
              </span>
            <% else %>
              <i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>
            <% end %>
          <% end %>

      </li>

      <!-- 通知一覧を表示するモーダルウィンドウ -->
      <div id="notifications-modal" class="modal">
        <div class="modal-content"></div>
      </div>

      <% if admin_signed_in? %>
        <li>
          <%= link_to 'Log out', destroy_admin_session_path, method: :delete, class: "custom-btn logout-btn mx-3", style: "font-weight: bold;" %>
        </li>
      <% else %>
        <li>
          <% unless user_signed_in? %>
            <%= link_to 'Sign up', new_user_registration_path, class: "custom-btn signup-btn mx-3", style: "font-weight: bold;" %>
          <% end %>
        </li>
        <li>
          <% unless user_signed_in? %>
            <%= link_to 'Log in', new_user_session_path, class: "custom-btn login-btn mx-3", style: "font-weight: bold;" %>
          <% end %>
        </li>
        <li>
          <% unless user_signed_in? || admin_signed_in? %>
            <%= link_to 'Guest Login', users_guest_sign_in_path, method: :post, class: "custom-btn login-btn mx-3", style: "font-weight: bold;" %>
          <% end %>
        </li>
      <% end %>

      <% if user_signed_in? %>
      <li>
        <div class="mypage-btn-container" id="mypageBtnContainer">
          <%= user_icon_or_youtube(current_user, size: '40x40', class: 'rounded-circle cursor-pointer') %>

          <div class="mypage-dropdown" id="mypageDropdown">
            <ul>
              <li><%= link_to user_path(current_user) do %><i class="fas fa-user-circle"></i>マイページ<% end %></li>
              <li><%= link_to new_post_path do %><i class="fas fa-pen"></i>新規投稿<% end %></li>
              <li><%= link_to dashboard_posts_path do %><i class="fas fa-clipboard-list"></i>ダッシュボード<% end %></li>
              <li><%= link_to edit_user_path(current_user) do %><i class="fas fa-user-cog"></i>プロフィール設定<% end %></li>
              <li><%= link_to liked_posts_user_path(current_user) do %><i class="fas fa-thumbs-up"></i>いいねした投稿<% end %></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end %></li>
            </ul>

          </div>
        </div>
      </li>
      <% end %>

    </ul>

  </nav>
  </div>
</header>

<!-- mypageドロップダウンメニュー -->
<script>
document.addEventListener('turbolinks:load', function() {
  const mypageBtnContainer = document.getElementById('mypageBtnContainer');
  const mypageDropdown = document.getElementById('mypageDropdown');

  function toggleDropdown() {
    $(mypageDropdown).slideToggle(300);
  }

  if (mypageBtnContainer) {
    // マイページボタンをクリックしたときにドロップダウンメニューの切り替え
    mypageBtnContainer.addEventListener('click', toggleDropdown);

    // ページ遷移前にドロップダウンメニューを閉じる
    document.addEventListener('turbolinks:before-visit', function() {
      $(mypageDropdown).slideUp(300);
    });

    // ドロップダウンメニュー内部のクリックイベントをキャンセル
    mypageDropdown.addEventListener('click', function(event) {
      event.stopPropagation();
    });

    // ドロップダウンメニューの外側をクリックしたらドロップダウンを閉じる
    document.addEventListener('click', function(event) {
      if (!mypageBtnContainer.contains(event.target)) {
        mypageDropdown.style.display = 'none';
      }
    });
  }
});

</script>

<script>
  $(document).ready(function() {
    $('#notifications-link').click(function() {
      // 通知を確認済みに更新するアクションを呼び出す
      $.ajax({
        url: '<%= update_checked_notifications_path %>',
        type: 'POST',
        success: function() {
          $('.n-circle').removeClass('orange');
          $('#notifications-link').html('<i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>');

          // 通知モーダルを表示する処理
          $.ajax({
            url: '<%= notifications_path(@user) %>',
            type: 'GET',
            success: function(response) {
              $('#notifications-modal .modal-content').html(response);
              $('#notifications-modal').addClass('fade-in').show();
            }
          });
        }
      });
    });

    $('#notifications-modal').on('click', function() {
      $(this).addClass('fade-out');
      setTimeout(() => {
        $(this).hide().removeClass('fade-out');
      }, 300);
    });
  });
</script>
