<!DOCTYPE html>
<html>
  <head>
    <title>TwoSeeds</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5f9cac3054.js" crossorigin="anonymous"></script>
    <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  </head>

  <body>
    <% if @show_header %>
      <%= render 'layouts/header' %>
    <% end %>
    <main>
      <%= notice %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <%# <%= render 'chatbots/chatbot' %>
   <%# <button type="button" class="chatbot-btn" data-toggle="modal" data-target="#chat-modal">
      <i class="fas fa-robot" data-toggle=tooltip data-placement="bottom" title="ボットと遊ぶ！"></i>
    </button> %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </body>
</html>
